<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d99a4f7016.js" crossorigin="anonymous"></script>
    <title>xoxorbrb:로그인</title>
</head>
<body>
    <div id = "Logo">
        <h1>LOGO</h1>
    </div>
    <form id ="ID_form">
    <div id = "Log_Box">
        <h2>ID Login</h2>
            <ul id = "id_pass">
                <li>
                    <span><i class="fa-solid fa-id-card"></i></span>
                    <input type="text" name="ID" placeholder="아이디">
                </li>
                <li>
                    <span><i class="fa-solid fa-fingerprint"></i></span>
                    <input type="password" name="PASSWORD" placeholder="비밀번호">
                </li>
            </ul>
            <li id = "login_btn">
                <a href=""><button>LOGIN</button></a>
            </li>
            <ul id = "find_btn">
                <a href=""><li>회원가입</li></a>
                <a href=""><li>ID/PW 찾기</li></a>
            </ul>
       </div>
    </form>
</body>
<link rel="stylesheet" href="../css/Authentication.css" defer>
</html>